-#  This file is app/views/movies/index.html.haml
%h1 All Movies

%table#movies
  %thead
    %tr
      %th Number
      %th Movie Title
      %th Rating
      %th Release Date
      %th More Info
  %tbody
    - @movies.each.with_index(1) do |movie, index|
      = render :partial=>'movie', :locals => {:movie => movie , :index => index} 
      -# https://stackoverflow.com/questions/6672454/passing-parameters-to-partial-view

= link_to 'Add new movie', new_movie_path



-# add to end of app/views/movies/index.html.haml:
%h1 Search TMDb for a movie

= form_tag :action => 'search_tmdb' do

  %label{:for => 'search_terms'} Search Terms
  = text_field_tag 'search_terms'
  = submit_tag 'Search TMDb'
